####################################
# .NET / ASP.NET Core
####################################
bin/
obj/
out/
publish/

####################################
# VS Code
####################################
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

####################################
# Visual Studio / Rider
####################################
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

####################################
# Build artifacts
####################################
*.dll
*.exe
*.pdb
*.cache

####################################
# Logs
####################################
*.log

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# NuGet
####################################
*.nupkg
packages/
